@import '../../sass/Abstracts/variable';

.empty-task-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-task {
    text-align: center;

    &__icon {
        font-size: 5rem;
        color: $color-primary;
        margin-top: 3rem;
        animation: rotation 4s infinite linear;
    }

    &__text {
        font-size: 2rem;
        color: $text-color;
        margin-top: 3rem;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}