@import '../../sass/Abstracts/variable';

.ticket-page {
    padding: 1rem;

    &__header {
        display: flex;
        font-size: 3rem;
        color: $color-primary;

        &-icon {
            margin-right: 1rem;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 15rem .6fr;
        margin-top: 2rem;

        @media only screen and (max-width: $bp-phone) {
            grid-template-columns: 12rem 1fr;
        }
    }

    &__label {
        font-size: 2rem;
        color: $text-color;
    }

    &__key {
        font-size: 1.7rem;
    }

    &__complete-btn {
        padding: .8rem 2rem;
        background-color: $color-primary-dark;
        border: none;
        color: $color-white;
        border-radius: .3rem;
        cursor: pointer;
        margin-top: 2rem;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    }
}